.css-12ttj6m {
    border: None;
    border-radius: 0.25rem;
    padding: 1rem 0px;
  }

.css-1x8cf1d.edgvbvh5{
    display: inline-block;
    font-size: 1rem;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: 400;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    margin: 0px 1rem 0px 0px;
    line-height: 1.6;
    width: auto;
    user-select: none;
    background-color: rgba(128, 61, 245);
    border: 1px solid rgba(128, 61, 245);
    text-align: center;
    text-decoration: none;
  }