.css-1x8cf1d.edgvbvh10{
    display: inline-block;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: 400;
    color: rgb(78, 60, 107);
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    margin: 0px 1rem 0px 0px;
    line-height: 1.6;
    width: auto;
    user-select: none;
    background-color: rgb(128, 61, 245, 0.3);
    border: 1px solid rgba(49, 51, 63, 0.2); 
    text-align: center;
    text-decoration: none;
  }

.css-1x8cf1d.edgvbvh10:hover {
  color: rgb(0, 0, 0);
  border: 1px solid  rgba(128, 61, 245);
  background-color: rgb(128, 61, 245, 0.3);
}

.css-1x8cf1d.edgvbvh5{
  display: inline-block;
  font-size: 1rem;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: 400;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0px 1rem 0px 0px;
  line-height: 1.6;
  width: auto;
  user-select: none;
  background-color: rgba(128, 61, 245);
  border: 1px solid rgba(128, 61, 245);
  text-align: center;
  text-decoration: none;
}

body{
  background-color: rgba(255, 255, 255, 0);
}

div{
  background-color: rgba(255, 255, 255, 0);
}