.css-1x8cf1d.edgvbvh5{
    background-color: rgba(128, 61, 245);
    color: whitesmoke;
}

.css-184tjsw p {
    word-break: break-word;
    font-size: 16px;
  }

h3{
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 800;
  color: rgb(49, 51, 63);
  letter-spacing: -0.005em;
  line-height: 1.2;
  font-size: 35px;
}

.css-12ttj6m {
    border: 2px solid rgba(97, 42, 164, 0.32);
    border-radius: 0.5rem;
    padding: calc(1em - 1px);
}