.safes{
  display: block;
  -moz-box-align: center;
  color: rgb(78, 60, 107);
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  line-height: 1.3;
  width: auto;
  user-select: none;
  text-align: center;
  background-color: rgb(177, 212, 224, 0.3);
  border: 1px solid rgba(46, 139, 192, 0.2); 
  }

.safes:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(177, 212, 224);
  border: 1px solid rgba(46, 139, 192); 
}

.safes:after {
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

.patrimony{
  display: block;
  -moz-box-align: center;
  color: rgb(78, 60, 107);
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  line-height: 1.3;
  width: auto;
  user-select: none;
  text-align: center;
  background-color: rgb(255, 184, 136, 0.3);
  border: 1px solid rgba(219, 132, 72, 0.2);
}

.patrimony:hover {
color: rgb(0, 0, 0);
background-color: rgb(255, 184, 136);
border: 1px solid rgba(219, 132, 72); 
}

.patrimony:after {
  content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}